.mentor {
    padding-top: 20px;
  width: 20vw;
  height: 25vw;
  margin: 10vw 40vw;
  background-color: whitesmoke;
  /* display: flex; */
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column; */
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.mentor .igmdata {
  object-fit: contain;
}

.contentdata {
  text-align: center;
}

.mentor .igmdata img {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
}

.name_desi1 {
  width: 200px;
  height: 80.79px;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #6d7780;
}

.name_cnt1 {
  padding-top: 10px;
  width: 20vw;
  font-size: 25px;
  color: #354364;
  font-weight: 600;
}

@media (1400px > width >600px) {
  .outer_box {
    margin: 10vh 6vw;
    width: 80vw;
    height: 258.29px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .name_cnt {
    padding-top: 10px;
    width: 73vw;
    font-size: 30px;
    font-weight: 600;
    margin: auto;
    text-align: center;
  }

  .name_desi {
    width: 73vw;
    margin: auto;
    text-align: center;
  }

  .innerbox1 .content {
    position: static;
    width: 73vw;
    height: 73vw;
    margin: auto;
    border-radius: 50%;
  }

  .innerbox1 .content::before {
    content: "";
    position: absolute;
    width: 73vw;
    height: 73vw;
    left: 0;
    top: 3px;
    background: linear-gradient(111.78deg, #234eb0 8.68%, #b656e2 83.64%);
    border-radius: 50%;
    z-index: -3;
  }

  .innerbox1 .content img {
    border-radius: 50%;
    width: 73vw;
    height: 73vw;
    top: 25px;
    left: 0;
    position: absolute;
  }

  .name_btn {
    text-align: center;
    margin-top: 30px;
    width: 73vw;
    height: auto;
    border-radius: 18px;
    margin: 10px auto 0 auto;
    padding: 10px;
  }

  .name_btn a {
    color: white;
    padding: 10px 18px;
    font-size: smaller;
    text-decoration: none;
    background: #122dff;
    border-radius: 18px;
  }

  .mentor {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
  }

  .mentor .imgdata img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
  }
 
}



@media (max-width: 764px){
    .d-flex{
        display: flex;
        flex-direction: column;
      }
}